@import "./_base";
@import "./type";

@import "./components/_container";
@import "./components/./header";
@import "./components/hero";
@import "./components/services";
@import "./components/about-us";
@import "./components/price-plans";
@import "./components/recent-work";
@import "./components/_service-years";
@import "./components/customer-testimonial";
@import "./components/our-partners";
@import "./components/blog";
@import "./components/footer";
