:root {
  --blue: #2196f3;
  --blue-hover: #0045b4;
  --dark-blue: #00296c;
  --darker-blue: #000e24;
  --light-blue: #9bc1ff;
  --greyish: #f4f8ff;
  --black: #11141b;
  --swiper-navigation-size: 16px !important;

  --border-radius: 4px;
  --transition-duration: 0.2s;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--dark-blue);
  background-color: #fff;
  font-family: "Manrope";
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  font-family: "Inter";
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.desc {
  font-family: "Inter";
}

.list {
  font-family: "Inter";
  background-image: url("./img/checkmark.svg");
  background-repeat: no-repeat;
}

.primary-btn {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: var(--blue);
  border: solid 1px var(--blue);
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: var(--blue-hover);
    border: solid 1px var(--blue-hover);
    transition: 0.2s ease-in-out;
  }
}

.secondary-btn {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background: transparent;
  border: solid 1px var(--blue);
}
