.about-us {
  .container {
    padding-block: 104.5px 118.5px;
    display: flex;
    position: relative;
    @media (max-width: 768px) {
      padding-block: 58px 80px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .img-con {
      position: relative;
      margin-right: 34px;
    }
    .faucet {
      position: absolute;
      z-index: 2;
    }
    .faucet-bg {
      z-index: 1;
      position: relative;
      left: 14px;
      top: 14px;
      background-color: var(--blue);
      width: 442px;
      height: 456px;
    }
    .heading-2 {
      margin-top: 18px;
      margin-bottom: 40px;
      @media (max-width: 768px) {
        margin-bottom: 32px;
      }
    }
    .desc {
      margin-bottom: 40px;
      @media (max-width: 768px) {
        margin-bottom: 28px;
      }
    }
    p {
      margin-top: 0;
      margin-bottom: 10px;
    }
    .bullet-point {
      .list {
        background-size: 20px;
        padding-left: 32px;
        font-size: 18px;
        font-weight: 600;
        line-height: 23px;
        @media (max-width: 768px) {
          padding-left: 38px;
        }
      }
    }
    .primary-btn {
      padding: 20px 58px 20px 28px;
      background-image: url("/img/arrow-up-right.svg");
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: right 28px center;
      margin-top: 30px;
      @media (max-width: 768px) {
        margin-top: 22px;
      }
    }
  }
}
