.about-us {
  .container {
    padding-block: 104.5px 118.5px;
    display: flex;
    position: relative;
    @media (max-width: 991px) {
      padding-block: 58px 80px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    @media (max-width: 767px) {
      padding-block: 60px;
    }
    .img-con {
      flex: 0 0 auto;
      margin-right: 58px;
      position: relative;
      max-height: 446px;
      max-width: 432px;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        background: var(--blue);
        z-index: -1;
        transform: translate(14px, 14px);
      }
      @media (max-width: 767px) {
        width: 95%;
        height: 100%;
        &::after {
          content: "";
          position: absolute;
          width: calc(100% + 5px);
          height: calc(100% + 5px);
          transform: translate(10px, 10px);
        }
      }
    }

    .faucet {
      max-width: 100%;
      max-height: 446px;
    }

    .heading-2 {
      margin-top: 18px;
      margin-bottom: 40px;
      @media (max-width: 991px) {
        margin-bottom: 32px;
      }
      @media (max-width: 767px) {
        margin-block: 14px 30px;
      }
    }
    .desc {
      margin-bottom: 40px;
      @media (max-width: 991px) {
        margin-bottom: 28px;
      }
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 33px;
      }
    }
    p {
      margin-top: 0;
      margin-bottom: 10px;
    }
    .bullet-point {
      .bullet-point-item {
        background-size: 20px;
        padding-left: 32px;
        font-size: 18px;
        font-weight: 600;
        line-height: 23px;
        @media (max-width: 991px) {
          padding-left: 38px;
        }
      }
    }
    .primary-btn {
      padding: 20px 58px 20px 28px;
      background-image: url("../img/arrow-up-right.svg");
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: right 28px center;
      margin-top: 30px;
      @media (max-width: 991px) {
        margin-top: 22px;
      }
    }
  }
}
