.blog {
  background-color: var(--greyish);
  .container {
    padding-block: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 991px) {
      padding-inline: 64px;
    }
    @media (max-width: 767px) {
      padding-block: 60px;
      .note {
        margin-block: 6px 19px;
      }
      .heading-2 {
        margin-block: 20px 0;
      }
    }
  }
  .sub-title {
    justify-content: left;
    align-self: flex-start;
    p {
      margin: 0;
    }
  }
  .heading-2 {
    align-self: flex-start;
    margin-block: 22px 6px;
  }
  .note {
    align-self: flex-start;
    font-family: "Inter";
    font-size: 18px;
    margin-bottom: 40px;
  }
  .blog-cards {
    gap: 40px 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: 991px) {
      justify-content: center;
    }

    .blog-card {
      background-color: #fff;
      max-width: 568px;
      max-height: 226px;
      display: flex;
      @media (max-width: 991px) {
        max-width: 640px;
        .img-con {
          flex: 0 0 50%;
          max-width: 50%;
        }
        .blog-description {
          flex: 0 0 50%;
          max-width: 50%;
        }
        &.dosdont {
          order: 1;
        }
        &.filters {
          order: 2;
        }
        &.problems {
          order: 3;
        }
        &.maintanence {
          order: 4;
        }
      }
      @media (max-width: 767px) {
        max-height: none;
        max-width: 100%;
        display: block;
        .img-con {
          width: 100%;
          max-width: none;
        }
        .blog-description {
          width: 100%;
          max-width: none;
        }
      }
    }
    .img-con {
      position: relative;
      overflow: hidden;
      max-width: 284px;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 280/232;
      overflow: hidden;
    }
    .img-con::before {
      content: "Tips & Tricks";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 120px;
      height: 31px;
      background-color: var(--blue);
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 767px) {
        bottom: 3.5px;
      }
    }
    .blog-description {
      padding: 20px;
      max-width: 284px;
      font-family: "Inter";
      @media (max-width: 991px) {
        max-width: 767px;
      }
      .title__text {
        font-weight: 700;
        font-size: 20px;
        margin: 0;
        font-family: "Manrope";
      }
      .date__text {
        color: var(--blue);
        padding-left: 22px;
        font-size: 14px;
        font-weight: 600;
        margin-block: 16px;
        line-height: 18px;
        background-image: url("/img/calendar.svg");
        background-repeat: no-repeat;
        background-size: 12px;
        background-position: left center;
      }
      .description__text {
        font-size: 14px;
        margin-top: 16px;
        margin-bottom: 18px;
        line-height: 18px;
      }
      .read-more__text {
        color: var(--blue);
        font-weight: 700;
        font-size: 14px;
        margin-block: 0;
        background-image: url("/img/blue-arrow-up-right.svg");
        background-repeat: no-repeat;
        background-size: 12px;
        background-position: right center;
        display: inline-block;
        padding-right: 21px;
      }
    }
  }
  .primary-btn {
    padding: 18.5px 72px 18.5px 40px;
    background-image: url("/img/arrow-up-right.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 40px center;
    margin-top: 48px;
  }
}
