.customer-testimonial {
  .container {
    padding-block: 100px;
    @media (max-width: 768px) {
      padding-block: 80px;
    }
  }
  .sub-title__text {
    margin-block: 0 22px;
    @media (max-width: 768px) {
      margin-bottom: 32px;
    }
  }
  .heading-2 {
    text-align: center;
    margin-block: 0 60px;
  }
  .swiper-wrapper {
    display: flex;
    gap: 32px;
    padding-inline: 48px;
  }
  .swiper-slide {
    padding: 40px 24px 0 24px;
    max-width: 330px;
    min-height: 352px;
    background-color: var(--greyish);
    border-bottom: 6px solid var(--blue);
    @media (max-width: 768px) {
      max-width: 288px;
      max-height: 372px;
    }
  }
  .feedback__text {
    font-family: "Inter";
    line-height: 20px;
  }
  .client {
    display: flex;
    margin-block: 20px 23px;
    .info {
      margin-left: 16px;
      .name {
        font-size: 24px;
        font-weight: 700;
        color: var(--dark-blue);
        margin-block: 0 12px;
      }
      .employment {
        font-family: "Inter";
        margin: 0;
      }
    }
  }
}
