.customer-testimonial {
  .container {
    padding-block: 100px;

    @media (max-width: 991px) {
      padding-block: 80px;
      .sub-title__text {
        margin-bottom: 32px;
      }
    }
    @media (max-width: 767px) {
      padding-block: 60px;
      .sub-title__text {
        margin-bottom: 20px;
      }
      .heading-2 {
        font-size: 32px;
        margin-bottom: 40px;
      }
      .swiper-button {
        display: none;
      }
    }
  }
  .sub-title__text {
    margin-block: 0 22px;
  }
  .heading-2 {
    text-align: center;
    margin-block: 0 60px;
  }
  .clients {
    position: relative;
  }
  .clients .swiper {
    max-width: 1056px;
    margin-inline: auto;
    @media (max-width: 991px) {
      max-width: 608px;
    }
  }

  .swiper-slide {
    padding: 40px 24px 32px 24px;
    height: auto;
    background-color: var(--greyish);
    border-bottom: 6px solid var(--blue);
  }
  .feedback__text {
    font-family: "Inter";
    line-height: 20px;
  }
  .client {
    display: flex;
    margin-top: 20px;
    .info {
      margin-left: 16px;
      .name {
        font-size: 24px;
        font-weight: 700;
        color: var(--dark-blue);
        margin-block: 0 12px;
      }
      .employment {
        font-family: "Inter";
        margin: 0;
      }
    }
  }
}
