.hero-con {
  padding-top: 116px;
  overflow: hidden;
  position: relative;
  @media (max-width: 768px) {
    padding-top: 110px;
  }

  .container {
    position: relative;
    @media (max-width: 768px) {
      padding-inline: 32px;
    }
  }
  .bg-img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .fg-img {
    position: absolute;
    z-index: 2;
    right: 64px;
    bottom: 0;
    max-width: 35vw;
    @media (max-width: 768px) {
      right: auto;
      left: 50%;
      transform: translateX(-50%);
      max-width: 66vw;
    }
  }
  .content {
    position: relative;
    z-index: 2;
    color: #fff;
    max-width: 636px;
    padding-block: 202.5px;
    margin-right: 350px;

    @media (max-width: 768px) {
      padding-bottom: 730px;
      padding-top: 100px;
      margin: 0;
      max-width: none;
      .heading-1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
      }
      .desc {
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        margin-top: 32px;
      }
      .action-btns {
        display: flex;
        justify-content: center;
      }
    }
  }
  .heading-1 {
    margin-top: 0;
  }
  .desc {
    margin-block: 40px;
  }
  .primary-btn {
    padding: 18.5px 40px;
    margin-right: 20px;
    font-size: 18px;
    letter-spacing: -0.02em;
  }
  .secondary-btn {
    padding: 18.5px 44.5px;
    font-size: 18px;
    letter-spacing: -0.02em;
    border: solid 2px var(--blue);
  }
}
