.our-partners {
  .container {
    padding: 60px 64px;
    @media (max-width: 991px) {
      padding-inline: 32px;
    }
    @media (max-width: 767px) {
      padding-inline: 20px;

      .heading-2 {
        font-size: 40px;
      }
    }
  }
  .sub-title {
    justify-content: left;
    p {
      margin: 0;
    }
  }
  .heading-2 {
    margin-block: 22px 40px;
  }
  .partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 16px;
    @media (max-width: 991px) {
      justify-content: center;
      .img-con {
        width: 164px !important;
        height: 160px !important;
      }
    }
    @media (max-width: 767px) {
      gap: 50px 16px;
      .img-con {
        max-width: 130px;
        max-height: 50px;
      }
    }
    .img-con {
      width: 276px;
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
