.our-partners {
  .container {
    padding: 60px 64px;
    @media (max-width: 768px) {
      padding-inline: 32px;
    }
  }
  .sub-title {
    justify-content: left;
    p {
      margin: 0;
    }
  }
  .heading-2 {
    margin-block: 22px 40px;
  }
  .partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 16px;
    @media (max-width: 768px) {
      justify-content: space-between;
    }
    .img-con {
      width: 276px;
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 768px) {
        width: 164px;
        height: 160px;
      }
    }
  }
}
