.popups {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: #00000099;
}

.popup {
  width: 520px;
  max-width: 100%;
  margin: auto;
  text-align: center;
  border-radius: 8px;
  background-color: #fff;
  margin: 20px;
  .content {
    padding: 60px;
  }
  @media (max-width: 425px) {
    width: 320px;
    .content {
      padding: 60px 20px;
    }
  }
}

.schedule-call {
  .heading-3 {
    font-size: 28px;
    font-weight: 700;
    color: #000;
  }
  position: relative;
  .close-popup {
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 15px;
  }
  .input-field {
    font-family: "Inter";
    display: block;
    margin: auto;
    width: 100%;
    margin-bottom: 16px;
    border: 0;
    border-radius: 3px;
    padding: 14px 16px;
    background-color: var(--greyish);
  }
  .input-btn {
    font-family: "Inter";
    margin-block: 20px 28px;
    padding: 14px 62.5px;
  }
  .confirmation {
    font-family: "Inter";
    color: #000;
    font-size: 14px;
    margin: 0;
  }
}

.popups.active {
  display: flex;
}
