.popup {
  width: 520px;
  max-width: 100%;
  margin: auto;
  text-align: center;
  border-radius: 8px;
  background-color: #fff;
  margin: 20px;
  .content {
    padding: 60px;
  }
  @media (max-width: 425px) {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    .content {
      padding: 60px 20px;
    }
  }
  .heading-3 {
    font-size: 28px;
    font-weight: 700;
    color: #000;
  }
  position: relative;
  .close-popup {
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 15px;
  }
  .input-field,
  .message-input {
    font-family: "Inter";
    display: block;
    margin: auto;
    width: 100%;
    margin-bottom: 16px;
    border: 0;
    border-radius: 3px;
    padding: 14px 16px;
    background-color: var(--greyish);
  }
  .message-input {
    resize: none;
    height: 96px;
  }
  .input-btn {
    font-family: "Inter";
    margin-block: 20px 28px;
    padding: 14px 62.5px;
  }
  .confirmation {
    font-family: "Inter";
    color: #000;
    font-size: 14px;
    margin: 0;
  }
}

.mobile-header-window {
  background-color: #fff;
  height: 100%;
  width: 360px;
  margin-right: auto;
  position: relative;

  .close-popup {
    position: absolute;
    right: 20px;
    top: 30px;
  }

  .header-menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .home {
      color: var(--blue);
    }
    padding: 0;
    margin-left: 20px;
    margin-top: 24px;
  }

  .header-menu-link {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    color: #000;
  }

  .menu-link-btn {
    width: 180px;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .mobile-header-info {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: var(--blue);
  }
  .desc {
    margin-left: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    font-family: "Inter";
    letter-spacing: -0.02em;
  }
  .phone {
    padding-left: 24px;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: left center;
  }
  .email {
    padding-left: 24px;
    background-image: url("../img/wh-email.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: left center;
  }
}

.popups {
  display: none;
}

.popup,
.mobile-header-window {
  display: none;
}

.popup.active,
.mobile-header-window.active {
  display: flex;
}

.popups.active {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #00000099;
}
