.recent-works {
  .container {
    padding-block: 100px 130px;
    @media (max-width: 991px) {
      padding-bottom: 110px;
    }
    @media (max-width: 991px) {
      padding-bottom: 40px;
    }
  }

  .sub-title__text {
    margin: 0;
  }

  .heading-2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 31px;
    @media (max-width: 991px) {
      margin-bottom: 26px;
    }
    @media (max-width: 767px) {
      font-size: 40px;
      line-height: 48px;
    }
  }

  .menu-bar {
    padding-inline: 150.5px;
    padding-bottom: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 991px) {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
      padding: 0;
      margin-bottom: 28px;
    }
    &::-webkit-scrollbar {
      display: none;
    }

    .sub-menu {
      padding: 10px;
      display: inline-block;
      @media (max-width: 991px) {
        padding-inline: 40px;
      }
      @media (max-width: 767px) {
        padding-inline: 20px;
      }
    }

    .link {
      font-weight: 400;
      font-size: 20px;
      &:focus {
        color: var(--darker-blue);
        font-weight: 700;
        border-bottom: 2px solid var(--blue);
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
      .img-con {
        aspect-ratio: 280/456;
      }
    }
    @media (max-width: 425px) {
      grid-template-columns: 1fr;
    }
    .img-con {
      display: grid;
      border-radius: 4px;
      overflow: hidden;
      position: relative;
      justify-self: center;
      //max-width: 377px;
      @media (max-width: 991px) {
        flex-shrink: 0;
        object-fit: cover;
        max-height: 456px;
      }
      @media (max-width: 767px) {
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 0.2s ease-in-out;
        @media (max-width: 991px) {
          background-color: #00000033;
        }
      }
      img {
        grid-area: 1 / 1;
        transition: 0.2s ease-in-out;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .work-con {
        grid-area: 1 / 1;
        color: white;
        margin: auto;
        z-index: 3;

        p {
          margin: 0;
          color: transparent;
          transition: 0.2s ease-in-out;
        }
        .work-con__title {
          font-size: 24px;
          font-weight: 700;
          text-align: center;
          border-bottom: 2px solid transparent;
          transition: 0.2s ease-in-out;
        }

        .work-con__desc {
          font-size: 14px;
          font-weight: 600;
          font-family: "Inter";
          text-align: center;
        }

        @media (max-width: 991px) {
          p {
            color: #fff;
          }
          .work-con__title {
            border-bottom: 2px solid #fff;
          }
        }
      }
      &:hover {
        img {
          transform: scale(1.075);
        }
        &::after {
          background-color: #00000033;
        }
        p {
          color: #fff;
          transition: 0.2s ease-in-out;
        }
        .work-con__title {
          border-bottom: 2px solid #fff;
          transition: 0.2s ease-in-out;
        }
      }
    }
    .hide {
      display: none;
    }
  }
}
