.recent-works {
  .container {
    padding-block: 100px 130px;
    @media (max-width: 768px) {
      padding-bottom: 110px;
    }
  }
  .sub-title__text {
    margin: 0;
  }
  .heading-2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 31px;
    @media (max-width: 768px) {
      margin-bottom: 26px;
    }
  }
  .menu-bar {
    padding-inline: 150.5px;
    padding-bottom: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    @media (max-width: 768px) {
      padding: 0;
      margin-bottom: 18px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    .sub-menu {
      padding: 10px;
      display: inline-block;
      @media (max-width: 768px) {
        padding-inline: 40px;
      }
    }
    .link {
      font-weight: 400;
      font-size: 20px;
      &:focus {
        color: var(--darker-blue);
        font-weight: 700;
        border-bottom: 2px solid var(--blue);
      }
    }
  }
  .content {
    display: flex;
    .column-2 {
      margin-inline: 10px;
    }
    .img-con {
      display: grid;
      margin-top: 10px;
      max-height: 456px;
      max-width: 377.33px;
      border-radius: 4px;
      overflow: hidden;
      position: relative;
      @media (max-width: 768px) {
        height: 456px;
        width: 228px;
        flex-shrink: 0;
        object-fit: cover;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 0.2s ease-in-out;
      }
      img {
        grid-area: 1 / 1;
        transition: 0.2s ease-in-out;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .work-con {
        grid-area: 1 / 1;
        color: white;
        margin: auto;
        z-index: 3;
        p {
          margin: 0;
          color: transparent;
          transition: 0.2s ease-in-out;
        }
        .work-con__title {
          font-size: 24px;
          font-weight: 700;
          text-align: center;
          border-bottom: 2px solid transparent;
          transition: 0.2s ease-in-out;
        }

        .work-con__desc {
          font-size: 14px;
          font-weight: 600;
          font-family: "Inter";
          text-align: center;
        }
      }
      &:hover {
        img {
          transform: scale(1.075);
        }
        &::after {
          background-color: #00000033;
        }
        p {
          color: #fff;
          transition: 0.2s ease-in-out;
        }
        .work-con__title {
          border-bottom: 2px solid #fff;
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
}
