.service-years {
  background-color: var(--greyish);
  .container {
    padding-block: 60px 65px;
    @media (max-width: 991px) {
      padding-block: 20px;
    }
    @media (max-width: 767px) {
      padding-block: 60px;
    }
  }
  .heading-2 {
    color: var(--blue);
    margin-block: 0 20px;
    text-align: center;
    font-size: 36px;
    @media (max-width: 991px) {
      font-size: 40px;
    }
    @media (max-width: 767px) {
      font-size: 31px;
      margin-bottom: 30px;
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-inline: 108px;
    @media (max-width: 767px) {
      padding-inline: 24.5px;
      justify-content: centre;
      .col-1 {
        margin-bottom: 20px;
      }
    }
  }
  .col-1 {
    img {
      width: 64px;
      height: 64px;
    }
  }
  .col-2 {
    img {
      width: 68px;
      height: 68px;
    }
  }
  .col {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    @media (max-width: 767px) {
      justify-content: center;
    }
  }
  .item {
    min-width: 231px;
    min-height: 94px;
    display: flex;
    p {
      margin: 0;
    }
  }
  .amount {
    padding-top: 8px;
    padding-left: 12px;
  }
  .plus {
    color: var(--blue);
  }
  .amount,
  .plus {
    font-weight: 700;
    font-size: 32px;
  }
  .of-what {
    font-weight: 600;
    padding: 13px 12px 8px 12px;
  }
}
