.services {
  .container {
    padding: 80px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 991px) {
      padding: 80px 32px;
    }
    @media (max-width: 767px) {
      padding: 76px 20px 60px 20px;
    }
  }
  p {
    margin: 0;
  }
  .heading-2 {
    margin-block: 22px 40px;
    text-align: center;
    @media (max-width: 767px) {
      margin-block: 22px 20px;
    }
  }
  .content {
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      .card {
        max-height: none;
      }
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 0;
      .card {
        max-height: none;
        margin-bottom: 20px;
      }
    }
    .card {
      display: flex;
      flex-direction: column;
      transition: 0.2s ease-in-out;
      &:hover {
        .card-content,
        a,
        p,
        .link,
        .card-content,
        .card-icon {
          transition: 0.2s ease-in-out;
        }
        .card-content {
          background-color: var(--blue);
        }
        p,
        a {
          color: #fff;
        }
        .learn-more,
        .card-icon {
          filter: brightness(0) invert(1);
        }
        .card-content {
          border-bottom: 6px solid var(--blue);
        }
      }
      @media (max-width: 767px) {
      }
    }
    .card-img {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      height: auto;
      width: 100%;
      aspect-ratio: 328/200;
      object-fit: cover;
      @media (max-width: 767px) {
        min-height: 200px;
        overflow: hidden;
      }
    }
    .card-icon {
      width: 36px;
      height: 36px;
      margin-bottom: 20px;
    }
    .card-content {
      padding: 20px 20px 33px 20px;
      background-color: var(--greyish);
      border-bottom: 6px solid var(--light-blue);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .card-title {
      font-size: 20px;
      font-weight: 700;
      color: var(--black);
      margin-bottom: 20px;
    }
    .card-desc {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.01em;
      color: var(--dark-blue);
      font-family: "Inter";
      margin-bottom: 20px;
    }
    .learn-more {
      font-family: "Inter";
      display: inline-block;
      background-image: url("../img/right-arrow.svg");
      background-repeat: no-repeat;
      background-size: 48px 16px;
      background-position: right center;
      padding-right: 58px;
    }
    .link {
      margin-top: auto;
      color: var(--dark-blue);
      font-size: 18px;
      font-weight: 700;
    }
    .hidden {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      margin-bottom: 0px;
    }
  }
  .primary-btn {
    padding: 20px 28px;
    margin-top: 40px;
    @media (max-width: 991px) {
      margin: 0;
    }
  }
}
