.services {
  .container {
    padding: 80px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 768px) {
      padding: 80px 32px;
    }
  }
  p {
    margin: 0;
  }
  .heading-2 {
    margin-block: 22px 40px;
    text-align: center;
    @media (max-width: 768px) {
      margin-block: 16px 20px;
    }
  }
  .content {
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      .card {
        max-height: 453px;
      }
    }
    @media (max-width: 320px) {
      grid-template-columns: 1fr;
    }
    .column {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    .card {
      display: flex;
      flex-direction: column;
      transition: 0.2s ease-in-out;
      &:hover {
        .card-content,
        a,
        p,
        .link,
        .card-content,
        .card-icon {
          transition: 0.2s ease-in-out;
        }
        .card-content {
          background-color: var(--blue);
        }
        p,
        a {
          color: #fff;
        }
        .link {
          background-image: url("/img/wh-right-arrow.svg");
        }
        .card-content {
          border-bottom: 6px solid var(--blue);
        }
        .card-icon {
          filter: brightness(0) invert(1);
        }
      }
    }
    .card-img {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      height: 200px;
    }
    .card-icon {
      background-repeat: no-repeat;
      background-size: 36px;
      width: 36px;
      height: 36px;
      margin-bottom: 20px;
    }
    .card-content {
      padding: 20px 20px 33px 20px;
      background-color: var(--greyish);
      border-bottom: 6px solid var(--light-blue);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .card-title {
      font-size: 20px;
      font-weight: 700;
      color: var(--black);
      margin-bottom: 20px;
    }
    .card-desc {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.01em;
      color: var(--dark-blue);
      font-family: "Inter";
    }
    .learn-more {
      font-family: "Inter";
    }
    .link {
      display: inline-block;
      background-image: url("/img/right-arrow.svg");
      background-repeat: no-repeat;
      background-size: 48px 16px;
      background-position: right center;
      padding-right: 58px;
      gap: 10px;
      margin-top: 20px;
      color: var(--dark-blue);
      font-size: 18px;
      font-weight: 700;
    }
    .card-7,
    .card-8,
    .card-9 {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
    }

    &.show {
      .card-7,
      .card-8,
      .card-9 {
        opacity: 1;
        max-height: 1000px;
      }
    }
  }
  .primary-btn {
    padding: 20px 28px;
    margin-top: 40px;
    @media (max-width: 768px) {
      margin: 0;
    }
  }
}

.card-1,
.card-7 {
  .card-icon {
    background-image: url("/img/blue-icon-1-1.svg");
  }
}
.card-2,
.card-8 {
  .card-icon {
    background-image: url("/img/blue-icon-1-2.svg");
  }
}
.card-3,
.card-9 {
  .card-icon {
    background-image: url("/img/blue-icon-1-3.svg");
  }
}
.card-4 {
  .card-icon {
    background-image: url("/img/blue-icon-2-1.svg");
  }
}
.card-5 {
  .card-icon {
    background-image: url("/img/blue-icon-2-2.svg");
  }
}
.card-6 {
  .card-icon {
    background-image: url("/img/blue-icon-2-3.svg");
  }
}
